@import 'reset-css';

body {
  min-height: 100vh;

  color: black;

  background: url('../../shared/assets/images/background.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  font-family: "Roboto", sans-serif;
}

main {
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
}
