.Input {
  display: flex;
  gap: 15px;
  align-items: center;
  
  font: 24px / 28px "Roboto", sans-serif;
  
  cursor: pointer;
}

.label {
  cursor: pointer;
}

.fake {
  position: relative;

  width: 20px;
  height: 20px;

  border: 2px solid grey;
  background: white;
  border-radius: 50%;
  flex-shrink: 0; 
  
  &:before {
    position: absolute;
    content: '';

    width: 17px;
    height: 17px;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    background: #ff5a5a;
    border-radius: 50%;
    opacity: 0;
  }
}

input[type="text"] {
  padding: 10px 25px;

  border: none;
  border-bottom: 3px solid grey;
  outline: none;
  background-color: white;
  border-radius: 5px;

  font: 24px / 28px "Roboto", sans-serif;

  &:focus {
    box-shadow:  0 5px 5px -5px rgba(0, 0, 0, 0.5);
  }
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  margin: 0;
  accent-color: #ff5a5a;
}

input[type="radio"] {
  display: none;
}

input[type='radio']:checked + .fake::before {
  opacity: 1;
}